.Dark {
    background-color: #606060;
}

.Light {
    background-color: #ADADAD;
}

.Outlined {
    outline: red solid;
}

.Selected {
    background-color: #72FCF1;
}

.Previous-selected {
    background-color: #b19cd9;   
}

.Square {
    width: 100%;
    height: 100%;
}

.Image {
    width: 100%;
}